/* Estilos comunes compartidos */
.primaryButton,
.backButton {
  background-color: var(--emerald);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--fuente-principal);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--emerald);
  display: inline-block;
}

.primaryButton-default {
  background-color: var(--emerald);
  border: 2px solid var(--emerald);
}

.primaryButton-default:hover {
  color: var(--emerald);
}

.primaryButton-error {
  background-color: #dc3545;
  border: 2px solid #dc3545;
}
.primaryButton-error:hover {
  color: #dc3545;
}

.primaryButton-none,
.backButton {
  background: #333;
  color: white;
  border: 2px solid #333;
}

.primaryButton-none:hover,
.backButton:hover {
  color: #333;
}

.primaryButton:hover,
.primaryButton-default:hover,
.primaryButton-error:hover,
.primaryButton-none:hover,
.backButton:hover {
  background-color: transparent;
  transition: background-color 0.3s ease-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.primaryButton-disabled {
  background-color: #ccc;
  border: 2px solid #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

.primaryButton-disabled:hover {
  background-color: #ccc;
  color: #666;
  box-shadow: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 60%;
  max-height: 60%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}

.modalHeader h3 {
  margin: 0;
  font-size: 1.4rem;
  color: var(--brown);
}

.modalCloseBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  align-self: flex-end;
}

.modalCloseBtn .closeModal {
  width: 20px;
  height: 20px;
  filter: invert(21%) sepia(5%) saturate(17%) hue-rotate(345deg) brightness(88%)
    contrast(96%);
}

.modalBody {
  border-top: 1px solid #e0e0e0;
  padding: 2rem 0rem 3rem 0rem;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modalFooter .btnCancel {
  background: #ccc;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.toastContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2000; /* por siaca */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toastNotification {
  display: block;
  position: relative;
  padding: 15px 20px;
  padding-right: 40px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  max-width: 350px;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toastShow {
  opacity: 1;
  transform: translateX(0);
}
.toastHide {
  opacity: 0;
  transform: translateX(100%);
}

.toast-success {
  background-color: #4caf50;
}
.toast-error {
  background-color: #f44336;
}
.toast-info {
  background-color: #2196f3;
}

.toastCloseBtn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.toastCloseBtn:hover {
  opacity: 1;
}

.closeToast {
  height: 12px;
  width: 12px;
  filter: invert(100%);
}

.toastMessage {
  margin: 0;
  font-size: 1rem;
  padding-right: 5px;
}

.breadcrumbsNav {
  padding: 1rem 0;
  margin-bottom: 20px;
}

.breadcrumbList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: bold;
}

.breadcrumbItem a {
  color: var(--brown);
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumbItem a:hover {
  color: var(--emerald);
}

.breadcrumbSeparator {
  margin: 0 8px;
  color: var(--brown);
}

.breadcrumbCurrent {
  color: var(--emerald);
  font-weight: bold;
}
