/* Estilos para la sección de tienda */

/* Header específico de tienda */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e0e0e0;
}

/* Navegación de sesión */
.header > nav > ul > li > .nav-link-base,
.carrito-container,
.navSesion > ul > li > .nav-link-base,
.breadcrumbProductoDetalle > ul > li > .nav-link-base {
  color: var(--primary-text);
  text-decoration: none;
  margin: 0 15px;
  font-weight: 700;
  cursor: pointer;
}

.navSesion > ul > li > .nav-link-base,
.breadcrumbProductoDetalle > ul > li > .nav-link-base {
  font-weight: 500;
  margin: 10px -15px -15px 0px;
}
.breadcrumbProductoDetalle > ul > li > .nav-link-base {
  color: var(--secundary-text);
}

.header > nav > ul > li > .nav-link-base:hover,
.carrito-container:hover,
.navSesion > ul > li > .nav-link-base:hover,
.breadcrumbProductoDetalle > ul > li > .nav-link-base:hover {
  color: var(--emerald);
}

.nav-link-base.active-link:visited {
  color: var(--emerald);
}

/* Carrito en header */
#carritoTexto {
  margin: 5px;
}

/* Sección principal (página de inicio) */
.seccion-principal {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.izq-seccion-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 4rem 0rem;
  max-width: 1200px;
  margin: 2rem 0rem;
  flex: 1;
  text-align: left;
}

.izq-seccion-principal h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.izq-seccion-principal p {
  color: var(--secundary-text);
  margin-bottom: 1.5rem;
}

.img-principal > img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

/* Footer específico de tienda */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  height: auto;
  padding: 2rem;
  border-top: 1px solid #e0e0e0;
  color: #fff;
  margin-top: 4rem;
  color: var(--secundary-text);
  margin-left: -4rem;
  margin-right: -4rem;
  width: calc(100% + 8rem);
}

.izq-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 100px;
}

.der-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.nav-footer > ul > li > .nav-link {
  color: var(--emerald);
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.inputFooter {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
}
