/* Estilos para la sección de tienda */

/* ---------------------------------------------------------------------- */
/*              Estilos solo para la pagina principal                     */
/* ---------------------------------------------------------------------- */

/* Header específico de tienda */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e0e0e0;
}

/* Navegación de sesión */
.header > nav > ul > li > .nav-link-base,
.carrito-container,
.navSesion > ul > li > .nav-link,
.breadcrumbProductoDetalle > ul > li > .nav-link-base,
.cardLink {
  color: var(--primary-text);
  text-decoration: none;
  margin: 0 15px;
  font-weight: 700;
  cursor: pointer;
}

.navSesion > ul > li > .nav-link,
.breadcrumbProductoDetalle > ul > li > .nav-link-base {
  font-weight: 500;
  margin: 10px -15px -15px 0px;
}
.breadcrumbProductoDetalle > ul > li > .nav-link-base {
  color: var(--secundary-text);
}

.header > nav > ul > li > .nav-link-base:hover,
.carrito-container:hover,
.navSesion > ul > li > .nav-link:hover,
.breadcrumbProductoDetalle > ul > li > .nav-link-base:hover,
.cardLink {
  color: var(--emerald);
}

.nav-link-base.active-link:visited {
  color: var(--emerald);
}

/* Carrito en header */
#carritoTexto {
  margin: 5px;
}

/* Sección principal (página de inicio) */
.seccion-principal {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.izq-seccion-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 4rem 0rem;
  max-width: 1200px;
  margin: 2rem 0rem;
  flex: 1;
  text-align: left;
}

.izq-seccion-principal h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.izq-seccion-principal p {
  color: var(--secundary-text);
  margin-bottom: 1.5rem;
}

.img-principal > img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

/* Footer específico de tienda */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 2rem;
  border-top: 1px solid #e0e0e0;
  color: #fff;
  margin-top: 4rem;
  color: var(--secundary-text);
  margin-left: -4rem;
  margin-right: -4rem;
  width: calc(100% + 8rem);
}

.izq-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 100px;
}

.der-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.nav-footer > ul > li > .nav-link {
  color: var(--emerald);
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.inputFooter {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
}

/* Estilos para productos destacados  */
.cartaProducto {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 250px;
  gap: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cartaProducto:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.cartaProducto .product-name-link {
  color: var(--brown);
  font-size: 1.2rem;
  text-decoration: none;
}
.cartaProducto .product-name-link:hover {
  color: var(--emerald);
}

.imgCartaProducto {
  width: 100%;
  height: 220px;
}

.imgCartaProducto > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.cartaProducto > h3 {
  color: var(--brown);
  font-size: 1.2em;
  margin: 0;
}

.contenidoCartaProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.seccion-productos {
  margin-top: 2rem;
}

.productsListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 1.5rem;
}

/* ---------------------------------------------------------------------- */
/*              Estilos solo para pagina de catalogo                    */
/* ---------------------------------------------------------------------- */
.catalogPageContainer {
  margin-top: 2rem;
}

.sectionTodosLosProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
}
.sectionProductos h3 {
  margin-right: 2rem;
}
.sectionProductos label {
  font-family: var(--fuente-principal);
  margin-right: 2rem;
}

.filterProductos {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: var(--fuente-principal);
  margin-bottom: 2rem;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.cardProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.cardProductos .nameCardProductos {
  margin: 0.5rem 0;
}

.cardProductos .priceCardProductos {
  color: var(--secundary-text);
  margin: 0.5rem 0;
}
.containerImgProductos {
  background-color: var(--light-bg);
  width: 100%;
  height: 150px;
}
.containerImgProductos .imgProductos {
  border-radius: 8px;
}

.imgProductos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
