:root {
  --emerald: #2e8b57;
  --mustard: #ffd700;
  --light-bg: #f7f7f7;
  --brown: #8b4513;
  --primary-text: #333333;
  --secundary-text: #666666;

  --fuente-principal: "Montserrat", sans-serif;
  --fuente-encabezado: "Playfair Display", serif;
}

html, body, #root { 
  height: 100%; 
  margin: 0;
}

#root { 
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--light-bg);
  height: auto;
  font-family: var(--fuente-principal);
  color: var(--primary-text);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1; 
}